@import '@src/common__ul-kit.scss';

body {
  padding: 30px;
}

.content__form-elements {
  display: grid;
  grid-template-areas: "collumn-one collumn-two collumn-three";
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  max-width: 1160px;
  margin-left: auto;
  margin-right: auto;
  // border: 1px solid green;
}

.collumn-one {
  grid-area: collumn-one;
  // border: 1px solid blue;
}
.collumn-two {
  grid-area: collumn-two;
  // border: 1px solid blue;
}
.collumn-three {
  grid-area: collumn-three;
  // border: 1px solid blue;
}

.element-group-line {
  display: flex;
  justify-content: space-between;
  width: 320px;

}

.element-width_320 {
  width: 320px;
  margin-bottom: 20px;
  box-sizing: border-box;
}
.element-width_266 {
  width: 266px;
  margin-bottom: 20px;
  box-sizing: border-box;
}
.element-width_150 {
  width: 150px;
  margin-bottom: 20px;
  box-sizing: border-box;
}