.dropdown {
  width: 100%;
  min-width: 150px;

  .dropdown-title {
    display: flex;
    justify-content: space-between;
    padding-bottom: 5px;
    font-family: Montserrat;
    font-style: normal;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;

    &__title {
      font-weight: bold;
      color: #1F2041;
    }
    &__title-sub {
      font-weight: normal;
      color: rgba(31, 32, 65, 0.5);
    }
  }

  .dropdown-body {

    outline: none;

    &__select {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 44px;
      border: 1px solid rgba(31, 32, 65, 0.25);
      border-radius: 3.5px 3.5px 0px 0px;
      
      &:hover {
        border: 1px solid rgba(31, 32, 65, 0.5);
      }
      &-drop {
        border: 1px solid rgba(31, 32, 65, 0.5);
      }

      .select__title {
        padding-left: 14px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: -0.1px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        color: rgba(31, 32, 65, 0.75);
      }
      .select__button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 44px;
        height: 100%;
        &:hover {
          background-color: lightblue;
        }
      }
    }

    &__slider {
      position: relative;
      display: flex;
      flex-direction: column;
      top: 0px;
      height: 0px;
      padding-left: 14px;
      padding-right: 6px;
      border: 1px solid rgba(31, 32, 65, 0.25);
      border-top: 0px;
      border-radius: 0px 0px 3.5px 3.5px;
      background-color: white;
      overflow: hidden;
      box-sizing: border-box;
      opacity: 0;
      transition: opacity .4s, border .4s, height .1s;

      &-drop {
        opacity: 1;
        height: auto;
        padding-top: 1px;
        padding-bottom: 5px;
        border: 1px solid rgba(31, 32, 65, 0.5);
        border-top: 0px;
        z-index: 999;
      }
    }
  }
}