<!DOCTYPE html>


html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Colors and type
  body
    include /units/ul-kit/header/header.pug
    include __item-color/colors-and-type__item-color.pug
    include __item-title/colors-and-type__item-title.pug

    +header()
    .content__colors-and-type
      .color-block
        .item
          +item-color({
            color: '#1F2041',
            name: 'Dark Shade 100%',
            value: '#1F2041'
          })
        .item
          +item-color({
            color: 'rgba(31, 32, 65, 0.75)',
            name: 'Dark Shade 75%',
            value: '#1F2041'
          })
        .item
          +item-color({
            color: 'rgba(31, 32, 65, 0.5)',
            name: 'Dark Shade 50%',
            value: '#1F2041'
          })
        .item
          +item-color({
            color: 'rgba(31, 32, 65, 0.25)',
            name: 'Dark Shade 25%',
            value: '#1F2041'
          })
        .item
          +item-color({
            color: 'rgba(31, 32, 65, 0.05)',
            name: 'Dark Shade 5%',
            value: '#1F2041'
          })
        .item
          +item-color({
            color: '#BC9CFF',
            name: 'Purple',
            value: '#BC9CFF'
          })
        .item
          +item-color({
            color: '#6FCF97',
            name: 'Green',
            value: '#6FCF97'
          })

      .title-block
        .item
          +item-title({
            type: 'h1',
            title: 'H1',
            text: 'This one is the sub-section or widget title'
          })
        .item
          +item-title({
            type: 'h2',
            title: 'H2',
            text: 'Next one is the item title inside widgets'
          })
        .item
          +item-title({
            type: 'h3',
            title: 'H3',
            text: 'This is a label or CTA text'
          })
        .item(class= 'item-body')
          +item-title({
            type: 'body',
            title: 'Body',
            text: 'This is the body text which is used for most of the design, like paragraphs, lists, etc.'
          })