@import '@src/common__ul-kit.scss';

body {
  padding: 30px;
}

.content__colors-and-type {
  display: grid;
  grid-template-areas: "color-block title-block";
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  max-width: 1160px;
  margin-left: auto;
  margin-right: auto;
}

.color-block {
  grid-area: color-block;
  display: flex;
  flex-direction: column;
  .item {
    line-height: 0;
    margin-bottom: 20px;
  }
}

.title-block {
  grid-area: title-block;
  display: flex;
  flex-direction: column;
  .item {
    line-height: 0;
    margin-bottom: 50px;
    &-body {
      display: inline-block;
      max-width: 380px;
      position: relative;
      top: -3px;
    }
  }
}

@media screen and (max-width: $pageWidthMobile) { // - from variables.scss
  .content__colors-and-type {
    display: grid;
    grid-template-areas: "color-block" "title-block";
    grid-template-rows: auto auto;
    grid-template-columns: 1fr;
    width: 100%;
  }

  .color-block::after {
    content: '';
    border: 1px solid grey;
    width: 100%;
    margin: 15px 0px;
  }
}