body {
  padding: 30px;
}

.header {
  max-width: 1440px;
  padding: 0px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  height: 105px;
}

.logo {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  box-sizing: border-box;
  svg {
    position: absolute;
  }
  .v1 { left: 11px; top: 18px;}
  .v2 { left: 25px; top: 18px; }
}

.content__colors-and-type {
  display: grid;
  grid-template-areas: "color-block title-block";
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
}

.color-block {
  grid-area: color-block;
  display: flex;
  flex-direction: column;
  .item {
    line-height: 0;
    margin-bottom: 20px;
  }
}

.title-block {
  grid-area: title-block;
  display: flex;
  flex-direction: column;
  .item {
    line-height: 0;
    margin-bottom: 50px;
    &-body {
      display: inline-block;
      max-width: 380px;
      position: relative;
      top: -3px;
    }
  }
}